<a href="https://colab.research.google.com/github/MUHAMMADALIBOBOKHON2003/mening_darslarim/blob/main/DataFrame_ma'lumotlar_tuzilmasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
info_talabalar={"Ism":["Boboxonov Muhammadali","Ibragimov Jasur","Komilov Shag'zod","Saydullayev Bekzod","Farxodov Sunnat"],
               "Baho":[4,5,3,5,5],
               "Hulq":["yomon","yaxshi","o'rta","a'lo","yaxshi"]}
info_talabalar

{'Ism': ['Boboxonov Muhammadali',
  'Ibragimov Jasur',
  "Komilov Shag'zod",
  'Saydullayev Bekzod',
  'Farxodov Sunnat'],
 'Baho': [4, 5, 3, 5, 5],
 'Hulq': ['yomon', 'yaxshi', "o'rta", "a'lo", 'yaxshi']}

In [ ]:
# DataFrame yaratamiz
info_df=pd.DataFrame(info_talabalar, index=[1,2,3,4,5])
info_df

                     Ism  Baho    Hulq
1  Boboxonov Muhammadali     4   yomon
2        Ibragimov Jasur     5  yaxshi
3       Komilov Shag'zod     3   o'rta
4     Saydullayev Bekzod     5    a'lo
5        Farxodov Sunnat     5  yaxshi

In [ ]:
# bizda juda ko'p ma'lumotlar bo'ladi shuning uchun ulardan nechtasi kerak bo'lsa .head() metodi yordamida chiqaramiz
info_df.head() # agar info_df.head() desak  5 ta elelmentni chiqarib beradi .head(3) desak 3 ta elementni chiqarib beradi

                     Ism  Baho    Hulq
1  Boboxonov Muhammadali     4   yomon
2        Ibragimov Jasur     5  yaxshi
3       Komilov Shag'zod     3   o'rta
4     Saydullayev Bekzod     5    a'lo
5        Farxodov Sunnat     5  yaxshi

In [ ]:
info_df.head(3)

                     Ism  Baho    Hulq
1  Boboxonov Muhammadali     4   yomon
2        Ibragimov Jasur     5  yaxshi
3       Komilov Shag'zod     3   o'rta

In [ ]:
info_df.size # bu yerda qiymatlar sonini chiqardik

15

In [ ]:
info_df.shape # info_df 5 ta qator va 3 ta ustundan iborat ekan

(5, 3)

# DataFrame ustunlari

In [ ]:
# biz quyida qanday qilib ustunlarni o'rnini almashtirishni va indexslarni o'zgartirishni ko'rib chiqamiz
info_df1=pd.DataFrame(info_talabalar,columns=['Ism',"Hulq","Baho","Manzil"], index=[5,4,3,2,1])

In [ ]:
info_df1

                     Ism    Hulq  Baho Manzil
5  Boboxonov Muhammadali   yomon     4    NaN
4        Ibragimov Jasur  yaxshi     5    NaN
3       Komilov Shag'zod   o'rta     3    NaN
2     Saydullayev Bekzod    a'lo     5    NaN
1        Farxodov Sunnat  yaxshi     5    NaN

In [ ]:
info_df

                     Ism  Baho    Hulq
1  Boboxonov Muhammadali     4   yomon
2        Ibragimov Jasur     5  yaxshi
3       Komilov Shag'zod     3   o'rta
4     Saydullayev Bekzod     5    a'lo
5        Farxodov Sunnat     5  yaxshi

In [ ]:
# yuqoridagi ikkita df ni ko'rishingiz mumkin ularni ustunl va indexlar almashgan xolda turibti

In [ ]:
# kerakli ustunni alohida chaqirib olishimiz mumkin. Chaqirib olingan ustun Series ga o'tadi.
i_ust=info_df1['Baho']

In [ ]:
i_ust

5    4
4    5
3    3
2    5
1    5
Name: Baho, dtype: int64

In [ ]:
# i_ust ni turini tekshiramiz 
type(i_ust)

pandas.core.series.Series

In [ ]:
# ustunni chaqirib olishni boshqa yo'li ham bor 
info_df.Hulq # bu usul ustun lotin alifbosida yozilgan bo'lsa ishlaydi

1     yomon
2    yaxshi
3     o'rta
4      a'lo
5    yaxshi
Name: Hulq, dtype: object

In [ ]:
val=pd.Series(["Sergeli-6","Sergeli-7","Yangihoyot"], index=[5,4,2]) # biz Manzil degan ustunga bosh bo'lgani uchun qiymatlar beramiz 
info_df1["Manzil"]=val

In [ ]:
info_df1

                     Ism    Hulq  Baho      Manzil
5  Boboxonov Muhammadali   yomon     4   Sergeli-6
4        Ibragimov Jasur  yaxshi     5   Sergeli-7
3       Komilov Shag'zod   o'rta     3         NaN
2     Saydullayev Bekzod    a'lo     5  Yangihoyot
1        Farxodov Sunnat  yaxshi     5         NaN

In [ ]:
info_df1["Manzil"]=pd.Series(['Sergeli-6',"Sergeli-8A"],index=[3,1])
info_df1

                     Ism    Hulq  Baho      Manzil
5  Boboxonov Muhammadali   yomon     4         NaN
4        Ibragimov Jasur  yaxshi     5         NaN
3       Komilov Shag'zod   o'rta     3   Sergeli-6
2     Saydullayev Bekzod    a'lo     5         NaN
1        Farxodov Sunnat  yaxshi     5  Sergeli-8A

In [ ]:
hi info_df1

                     Ism    Hulq  Baho      Manzil
5  Boboxonov Muhammadali   yomon     4         NaN
4        Ibragimov Jasur  yaxshi     5         NaN
3       Komilov Shag'zod   o'rta     3   Sergeli-6
2     Saydullayev Bekzod    a'lo     5         NaN
1        Farxodov Sunnat  yaxshi     5  Sergeli-8A

In [ ]:
# manzilning qiymati o'zgartirishni yana bir usulini ko'ramiz
val1=["Sergeli-6","Yunusobo-14","Zangiota","Yangihayot","Sergeli-8A"]
info_df1.Manzil=val1

In [ ]:
info_df1 # quyida ko'rishingiz mumkin manzilga qiymat berdik

                     Ism    Hulq  Baho       Manzil
5  Boboxonov Muhammadali   yomon     4    Sergeli-6
4        Ibragimov Jasur  yaxshi     5  Yunusobo-14
3       Komilov Shag'zod   o'rta     3     Zangiota
2     Saydullayev Bekzod    a'lo     5   Yangihayot
1        Farxodov Sunnat  yaxshi     5   Sergeli-8A

In [ ]:
# keling info_df1 ga yangi ustun qo'shamiz
info_df1["Darajasi"]=info_df1.Baho>3 # biz bu yerda  3 katta baholilarni ajratib oldik True

In [ ]:
info_df1

                     Ism    Hulq  Baho       Manzil  Darajasi
5  Boboxonov Muhammadali   yomon     4    Sergeli-6      True
4        Ibragimov Jasur  yaxshi     5  Yunusobo-14      True
3       Komilov Shag'zod   o'rta     3     Zangiota     False
2     Saydullayev Bekzod    a'lo     5   Yangihayot      True
1        Farxodov Sunnat  yaxshi     5   Sergeli-8A      True

# TAKRORLASH

In [ ]:
import pandas as pd
import numpy as np
# DataFrame ma'lumot tuzilmasi bilan ishlash
# luga'at yaratib olamiz
avtolar={"model":["Damas","Nexia","Lacetti","Land kruzer","Toyota","carvet"],
         "color":["oq","qora","oq","bardoviy","molochniy","qizil"],
         "yil":[2020,2015,2021,2022,2019,20000],
         'km':[12000,25000,200000,50000,600000,30000],
         '$':[6000,5500,9500,29000,15000,300000]}

In [ ]:
av=pd.DataFrame(avtolar,index=[1,2,3,4,5,6])
av

         model      color    yil      km       $
1        Damas         oq   2020   12000    6000
2        Nexia       qora   2015   25000    5500
3      Lacetti         oq   2021  200000    9500
4  Land kruzer   bardoviy   2022   50000   29000
5       Toyota  molochniy   2019  600000   15000
6       carvet      qizil  20000   30000  300000

In [ ]:
# av dan kerakli ma'lumotni chiqarib olamiz
av["Damas"]

KeyError: ignored

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
info={"Full_name":["Muhammadali Boboxonov","Anvar Narzullayev","Saydullayev Bekzod","Farxodov Sunnat"],
       "Yosh":[19,18,36,15],
       "Holati":["o'rta","yaxshi","yaxshi","a'lo"]}

In [ ]:
df=pd.DataFrame(info, index=[1,2,3,4])
df

               Full_name  Yosh  Holati
1  Muhammadali Boboxonov    19   o'rta
2      Anvar Narzullayev    18  yaxshi
3     Saydullayev Bekzod    36  yaxshi
4        Farxodov Sunnat    15    a'lo

In [ ]:
# df ni hajmini ko'ramiz
df.shape # 4 qator va beshta ustundan iborat ekan

(4, 3)

In [ ]:
# df nechta elementdan iborat ekanini topish
df.size

12

In [ ]:
# df da kerakli ustunni ajratib olish 1 usul
ustun1=df["Full_name"]
print(ustun1)
# ikkinchi usuli
ustun2=df.Yosh
print(ustun2)

1    Muhammadali Boboxonov
2        Anvar Narzullayev
3       Saydullayev Bekzod
4          Farxodov Sunnat
Name: Full_name, dtype: object
1    19
2    18
3    36
4    15
Name: Yosh, dtype: int64

In [ ]:
ustun1

1    Muhammadali Boboxonov
2        Anvar Narzullayev
3       Saydullayev Bekzod
4          Farxodov Sunnat
Name: Full_name, dtype: object

In [ ]:
# keling ustun1 ni turini tekshiramiz
type(ustun1)

pandas.core.series.Series

In [ ]:
# yuqorida ko'rishingiz mumkin ustun1 Series ma'lumot turiga  o'tib qoldi

In [ ]:
# keling df ga yangi ustun qo'shamiz
df["Manzil"]=np.NaN
df # quyida ko'rishingiz mumkin yangi manzil degan ustun qo'shildi

               Full_name  Yosh  Holati  Manzil
1  Muhammadali Boboxonov    19   o'rta     NaN
2      Anvar Narzullayev    18  yaxshi     NaN
3     Saydullayev Bekzod    36  yaxshi     NaN
4        Farxodov Sunnat    15    a'lo     NaN

In [ ]:
# Keling endi yangi ustunga qiymat berib chiqamiz
val=pd.Series(["Sergeli","Chilonzor","O'rikzor","Yangi hayot"],index=[2,3,1,4]) # indexga qaysi sonni qo'ysangiz o'sha index ga mos elementga qiymat beradi
df["Manzil"]=val # manabu yerda bir narsani ta'kidlab o'taman agar df.Manzil=val deb yozsangiz ko'dingiz ishlamaydi

In [ ]:
df

               Full_name  Yosh  Holati       Manzil
1  Muhammadali Boboxonov    19   o'rta     O'rikzor
2      Anvar Narzullayev    18  yaxshi      Sergeli
3     Saydullayev Bekzod    36  yaxshi    Chilonzor
4        Farxodov Sunnat    15    a'lo  Yangi hayot

In [ ]:
val

2        Sergeli
3      Chilonzor
1       O'rikzor
4    Yangi hayot
dtype: object

In [ ]:
# df da 2 ta ma'lumotni chiqarib olamiz
df.iloc[0] # biz o'zimizga kerakli natijani olishimiz uchun uning haqiqiy turgan indeksini berishimiz lozim

Full_name    Muhammadali Boboxonov
Yosh                            19
Holati                       o'rta
Manzil                    O'rikzor
Name: 1, dtype: object