<a href="https://colab.research.google.com/github/MUHAMMADALIBOBOKHON2003/mening_darslarim/blob/main/Faylga_saqlash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [109]:
# Githubdan faylni ko'chirib olamiz 
# Jadvallar csv yoki exel formatida bo'ladi
!wget https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/uzbekistan.csv

--2022-10-19 19:57:30--  https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/uzbekistan.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 539 [text/plain]
Saving to: ‘uzbekistan.csv’

uzbekistan.csv      100%[===================>]     539  --.-KB/s    in 0s

2022-10-19 19:57:30 (39.3 MB/s) - ‘uzbekistan.csv’ saved [539/539]

In [110]:
import pandas as pd 
# keling faylni o'qiymiz 
# jadvalga ozgina o'zgartirishlar kiritib olamiz

df_uzbfile=pd.read_csv("uzbekistan.csv",nrows=9)
df_uzbfile

                      Boʻlinishi  Maydoni (kv.km)    Aholisi
0               Andijon viloyati           4200.0  1899000.0
1                Buxoro viloyati          39400.0  1384700.0
2              Fargʻona viloyati           6800.0  2597000.0
3                Jizzax viloyati          20500.0   910500.0
4                Xorazm viloyati           6300.0  1200000.0
5              Namangan viloyati           7900.0  1862000.0
6                Navoiy viloyati         110800.0   767500.0
7           Qashqadaryo viloyati          28400.0  2029000.0
8  Qoraqalpogʻiston Respublikasi         160000.0  1200000.0

In [111]:
# yuqoridagi jadvalni yangi faylga joylaymiz
df_uzbfile.to_excel("newuzbfile.xlsx")

# fayllar turgan kalonkada ko'rishingiz mumkin biz yaratgan fayl chiqdi

In [112]:
# fayllarga nafaqat jadvallarni balki ustunlarni saqlasangiz ham bo'ladi
# series obj yaratib olamiz
obj=df_uzbfile.Aholisi
obj

0    1899000.0
1    1384700.0
2    2597000.0
3     910500.0
4    1200000.0
5    1862000.0
6     767500.0
7    2029000.0
8    1200000.0
Name: Aholisi, dtype: float64

In [113]:
# obj ni uzaholi degan faylga saqlab qo'yamiz
obj.to_csv("uzaholi.csv")

In [114]:
o=pd.read_csv("uzaholi.csv")
o # quyida ko'rishingiz mumkin DF ko'rinishda qaytdi

   Unnamed: 0    Aholisi
0           0  1899000.0
1           1  1384700.0
2           2  2597000.0
3           3   910500.0
4           4  1200000.0
5           5  1862000.0
6           6   767500.0
7           7  2029000.0
8           8  1200000.0

In [115]:
# yuqroidagi jadvalni chiroyliroq qilib chiqaramiz
op=pd.read_csv("uzaholi.csv",index_col=0)
op #kerakli natijani oldik

     Aholisi
0  1899000.0
1  1384700.0
2  2597000.0
3   910500.0
4  1200000.0
5  1862000.0
6   767500.0
7  2029000.0
8  1200000.0

In [116]:
# uzaholi faylini series formatida ochmoqchi bo'lsak squeeze=True degan parametrdan foydalanish kerak
oo=pd.read_csv("uzaholi.csv",index_col=0,squeeze=True)
oo
# agar series formatida ochmoqchi bo'lsanglar bir narsaga e'tibor bering, fayl ikkita ustundan iborat bo'lishi kerak

0    1899000.0
1    1384700.0
2    2597000.0
3     910500.0
4    1200000.0
5    1862000.0
6     767500.0
7    2029000.0
8    1200000.0
Name: Aholisi, dtype: float64

In [117]:
# csv faynli o'qib keyin xlsx formatida saqlashimiz mumkin
# keling girhubdan csv formatidagi faylni yuklab olamiz
!wget https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/gm_sales.csv

--2022-10-19 19:57:31--  https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/gm_sales.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 117 [text/plain]
Saving to: ‘gm_sales.csv’

gm_sales.csv        100%[===================>]     117  --.-KB/s    in 0s

2022-10-19 19:57:31 (8.30 MB/s) - ‘gm_sales.csv’ saved [117/117]

In [118]:
gm=pd.read_csv("gm_sales.csv",index_col=0)
gm

         2020   2021
Labo     4521   7542
Damas   30889  33682
Spark   16370   6485
Nexia   41663  14442
Cobalt  44901  36317
Gentra  30368  26266

In [119]:
# gmni yangi xlsx formatida faylga yuklaymiz
# biz o'zimizga kerakli ustunnu olishimiz ham mumkin
# faylimizni papkalarning ichiga saqlashimiz ham mumkin
gm.to_excel("drive/MyDrive/Colab Notebooks/gm_sales_excel.xlsx",index=False,columns=["2021"]) 

# biz buyerda index=False qilganimizning sababi faylni ochganda o'zi index beradi

In [120]:
# saqlangan exel faylni o'qish'
read=pd.read_excel("drive/MyDrive/Colab Notebooks/gm_sales_excel.xlsx") 
read 
# quyida ko'rishingiz mumkin faqat 2021 yilning datasini oldi

    2021
0   7542
1  33682
2   6485
3  14442
4  36317
5  26266

# Takrorlash

In [121]:
# githubdan papka yuklab olamiz 
!git clone https://github.com/anvarnarz/praktikum_datasets

fatal: destination path 'praktikum_datasets' already exists and is not an empty directory.

In [122]:
# yuklab olingan papkadan kerakli faylni o'qiymiz
import pandas as pd
# jadval davlatdan boshlanishi uchun index_col=0 qildim
# Jadvaldan 55 ta ma'lumotni olish uchun nrows=55 deb yozamiz

df=pd.read_csv("praktikum_datasets/Electricity_Production_By_Source.csv") 
df

,Entity,Code,Year,Electricity from coal (TWh),Electricity from gas (TWh),Electricity from hydro (TWh),Electricity from other renewables (TWh),Electricity from solar (TWh),Electricity from oil (TWh),Electricity from wind (TWh),Electricity from nuclear (TWh)
0,Afghanistan,AFG,2000,0.000000,0.155,0.312,0.000000,0.000,0.0,0.0,0.0
1,Afghanistan,AFG,2001,0.000000,0.094,0.498,0.000000,0.000,0.0,0.0,0.0
2,Afghanistan,AFG,2002,0.000000,0.132,0.555,0.000000,0.000,0.0,0.0,0.0
3,Afghanistan,AFG,2003,0.000000,0.309,0.630,0.000000,0.000,0.0,0.0,0.0
4,Afghanistan,AFG,2004,0.000000,0.329,0.565,0.000000,0.000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
6236,Zimbabwe,ZWE,2015,4.311780,0.000,4.940,0.128000,0.008,0.0,0.0,0.0
6237,Zimbabwe,ZWE,2016,3.714880,0.000,2.955,0.147000,0.009,0.0,0.0,0.0
6238,Zimbabwe,ZWE,2017,3.218560,0.000,3.929,0.151000,0.011,0.0,0.0,0.0
6239,Zimbabwe,ZWE,2018,3.932020,0.000,5.000,0.187000,0.014,0.0,0.0,0.0
6240,Zimbabwe,ZWE,2019,3.805433,0.000,5.020,0.206667,0.014,0.0,0.0,0.0

In [123]:
# dfni yangi faylga excel formatida yuklayman
# kerakli ustunni ajratib olamiz
df.to_excel("elekrt_ishlab_chiqarish.xlsx",columns=["Entity","Code","Year"],index=False)
# index False qilganimni sababi faylni o'qiganda o'zi index beradi

In [124]:
# saqlangan faylni o'qiymiz
read1=pd.read_excel("elekrt_ishlab_chiqarish.xlsx")
read1

           Entity Code  Year
0     Afghanistan  AFG  2000
1     Afghanistan  AFG  2001
2     Afghanistan  AFG  2002
3     Afghanistan  AFG  2003
4     Afghanistan  AFG  2004
...           ...  ...   ...
6236     Zimbabwe  ZWE  2015
6237     Zimbabwe  ZWE  2016
6238     Zimbabwe  ZWE  2017
6239     Zimbabwe  ZWE  2018
6240     Zimbabwe  ZWE  2019

[6241 rows x 3 columns]

In [125]:
# boshqa faylni o'qib va yangi fayl yaratamiz
read2=pd.read_excel("praktikum_datasets/uybor.xlsx")
read2

,address,district,rooms,size,level,max_levels,price,lat,lng
0,"город Ташкент, Yunusobod район, Юнусабад 8-й к...",Yunusobod,3,57.0,4,4,52000,41.371471,69.281049
1,"город Ташкент, Yakkasaroy район, 1-й тупик Шот...",Yakkasaroy,2,52.0,4,5,56000,41.291115,69.261104
2,"город Ташкент, Chilonzor район, Чиланзар 2-й к...",Chilonzor,2,42.0,4,4,37000,41.280784,69.223683
3,"город Ташкент, Chilonzor район, Чиланзар 9-й к...",Chilonzor,3,65.0,1,4,49500,41.290163,69.196862
4,"город Ташкент, Chilonzor район, площадь Актепа",Chilonzor,3,70.0,3,5,55000,41.300156,69.210831
...,...,...,...,...,...,...,...,...,...
7416,"город Ташкент, Yashnobod район, Городок Авиаст...",Yashnobod,1,38.0,5,5,24500,41.292252,69.341907
7417,"город Ташкент, Yashnobod район, 1-й проезд Ави...",Yashnobod,2,49.0,1,4,32000,41.289606,69.343485
7418,"город Ташкент, Shayhontohur район, Зульфияханум",Shayhontohur,2,64.0,3,9,40000,41.331415,69.268901
7419,"город Ташкент, Mirzo Ulugbek район, Буюк Ипак ...",Mirzo Ulugbek,1,18.0,1,4,11000,41.310487,69.292223
7420,"город Ташкент, Chilonzor район, Чиланзар 6-й к...",Chilonzor,1,30.0,2,4,22914,41.285755,69.211763

In [126]:
# read2 dan ikkita ustunni ajratib olamiz
read2.to_csv("uybor.csv",columns=["address","price"],index=False)

In [127]:
# keling read2  faylni ochamiz
df3=pd.read_csv("uybor.csv",nrows=15,squeeze=True,index_col=0)
df3 # bizning jadval DF ko'rinishda chiqdi agar Series ko'rinishda kerak bo'lsa squeeze=True dan foydalanamiz

address
город Ташкент, Yunusobod район, Юнусабад 8-й квартал         52000
город Ташкент, Yakkasaroy район, 1-й тупик Шота Руставели    56000
город Ташкент, Chilonzor район, Чиланзар 2-й квартал         37000
город Ташкент, Chilonzor район, Чиланзар 9-й квартал         49500
город Ташкент, Chilonzor район, площадь Актепа               55000
город Ташкент, Chilonzor район, Чиланзар 6-й квартал         25500
город Ташкент, Chilonzor район, Чиланзар-16                  21200
город Ташкент, Yakkasaroy район, Саламатина                  20000
город Ташкент, Uchtepa район, Чиланзар-21                    26200
город Ташкент, Chilonzor район, Чиланзар-8                   22200
город Ташкент, Uchtepa район, Чиланзар-14                    24200
город Ташкент, Chilonzor район, Чиланзар-20                  30200
город Ташкент, Chilonzor район, Чиланзар-17                  21200
город Ташкент, Chilonzor район, Чиланзар-16                  21200
город Ташкент, Chilonzor район, Чиланзар-19                  21200
Name: price, dtype: int64

In [128]:
# df3 ni csv formatida saqlab qo'yamiz
df3.to_csv("drive/MyDrive/series_form.csv")

In [129]:
# githuvdan fayl yuklaymiz
! wget https://raw.githubusercontent.com/selva86/datasets/master/Auto.csv

--2022-10-19 20:00:29--  https://raw.githubusercontent.com/selva86/datasets/master/Auto.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18276 (18K) [text/plain]
Saving to: ‘Auto.csv’

Auto.csv            100%[===================>]  17.85K  --.-KB/s    in 0.001s

2022-10-19 20:00:29 (24.6 MB/s) - ‘Auto.csv’ saved [18276/18276]

In [179]:
# yuklangan faylni o'qish
avto=pd.read_csv("Auto.csv",names=["mpg","selindr","sig'imi","ot kuchi","massasi","uskoriniya","yil","model"])
avto_d=avto.drop("mpg")
avto_dd=avto_d.drop("mpg",axis=1)
avto_dd.index.name="mpg"
avto_dd

    selindr sig'imi ot kuchi massasi uskoriniya yil                      model
mpg
18      307     130     3504      12         70   1  chevrolet chevelle malibu
15      350     165     3693    11.5         70   1          buick skylark 320
18      318     150     3436      11         70   1         plymouth satellite
16      304     150     3433      12         70   1              amc rebel sst
17      302     140     3449    10.5         70   1                ford torino
..      ...     ...      ...     ...        ...  ..                        ...
27      140      86     2790    15.6         82   1            ford mustang gl
44       97      52     2130    24.6         82   2                  vw pickup
32      135      84     2295    11.6         82   1              dodge rampage
28      120      79     2625    18.6         82   1                ford ranger
31      119      82     2720    19.4         82   1                 chevy s-10

[392 rows x 7 columns]

In [181]:
# avtoni yangi exel faylga joylaymiz
# bizga aslida modellar ham kerak edi biz esa modellarni olmadik chunki index sifatida o'zi beradi
avto_dd.to_excel("avtolar_info.xlsx",columns=["model","ot kuchi"],index=False)

In [186]:
# jadvalni ko'rishingiz mumkin DF ko'rinishda chiqdi, agar bizga series formatida kerak bo'lsa ikkita ustundan iborat qilib olishimiz kerak

read3=pd.read_excel("avtolar_info.xlsx",index_col=0,squeeze=True)  # squeeze=True degani siqish degani
read3.head() # ko'rishingiz mumkin series formatida oldik

model
chevrolet chevelle malibu    3504
buick skylark 320            3693
plymouth satellite           3436
amc rebel sst                3433
ford torino                  3449
Name: ot kuchi, dtype: int64