<a href="https://colab.research.google.com/github/MUHAMMADALIBOBOKHON2003/mening_darslarim/blob/main/HDF5_formatdagi_fayl_b_n_ishlash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
!wget https://raw.githubusercontent.com/selva86/datasets/master/Auto.csv
df=pd.read_csv("Auto.csv")
df.head()

--2022-10-20 20:07:40--  https://raw.githubusercontent.com/selva86/datasets/master/Auto.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18276 (18K) [text/plain]
Saving to: ‘Auto.csv’

Auto.csv            100%[===================>]  17.85K  --.-KB/s    in 0s

2022-10-20 20:07:40 (110 MB/s) - ‘Auto.csv’ saved [18276/18276]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [3]:
!git clone https://github.com/anvarnarz/praktikum_datasets
uzbek=pd.read_csv("praktikum_datasets/uzbekistan.csv")
uzbek.head()

Cloning into 'praktikum_datasets'...
remote: Enumerating objects: 139, done.
remote: Counting objects: 100% (139/139), done.
remote: Compressing objects: 100% (123/123), done.
remote: Total 139 (delta 51), reused 100 (delta 15), pack-reused 0
Receiving objects: 100% (139/139), 9.71 MiB | 18.72 MiB/s, done.
Resolving deltas: 100% (51/51), done.

          Boʻlinishi  Maydoni (kv.km)    Aholisi
0   Andijon viloyati           4200.0  1899000.0
1    Buxoro viloyati          39400.0  1384700.0
2  Fargʻona viloyati           6800.0  2597000.0
3    Jizzax viloyati          20500.0   910500.0
4    Xorazm viloyati           6300.0  1200000.0

# HDF5 formatni avzalligi boshqa dasturlash tiilarida ham buni ochish mumkin.
# Ilmiy izlanishlar qilganda katta fayllarni saqlash uchun ishlatiladigan formatlardan biri.
# Katta jadvallarni saqlganda siqilgan holatda saqlaydi

In [4]:
# bu format bilan ishlash uchun yangi obj yaratib olamiz
hdfobj=pd.HDFStore("fayl_name.h5") # biz hdfobj o'zgaruvchiga nimani saqlasak fayl_name degan faylgaham saqlanadi
# biz manashu o'zgaruvchiga ber nechta faylni saqlasak bo'ladi
hdfobj.put("avtodata",df) # "avtodata" bu kalit hisoblanadi
# endi uzbek degan o'zgaruvchini yuklaymiz
hdfobj.put("uzdata",uzbek)

In [5]:
# biz bu hdfobj ni kalitlarini ko'rishimiz mumkin
hdfobj.keys()

['/avtodata', '/uzdata']

In [6]:
# biz saqlagan fayllarimizga huddi ro'yhatga murojat qilganimiz kabi      hdfobj["uzdata"]    deb chaqirib olsak bo'ladi
hdfobj['uzdata'] # ko'rishimiz mumkin bizga jadvalni chiqarib berdi

                       Boʻlinishi  Maydoni (kv.km)    Aholisi
0                Andijon viloyati           4200.0  1899000.0
1                 Buxoro viloyati          39400.0  1384700.0
2               Fargʻona viloyati           6800.0  2597000.0
3                 Jizzax viloyati          20500.0   910500.0
4                 Xorazm viloyati           6300.0  1200000.0
5               Namangan viloyati           7900.0  1862000.0
6                 Navoiy viloyati         110800.0   767500.0
7            Qashqadaryo viloyati          28400.0  2029000.0
8   Qoraqalpogʻiston Respublikasi         160000.0  1200000.0
9              Samarqand viloyati          16400.0  2322000.0
10              Sirdaryo viloyati           5100.0   648100.0
11           Surxondaryo viloyati          20800.0  1676000.0
12              Toshkent viloyati          15300.0  4450000.0

In [7]:
hdfobj["avtodata"]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
387,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
388,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
389,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
390,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
391,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [8]:
# biz agar fayl_name.h5 bilan ishlab bo'lgan bo'lsak faylni 
# yopishimiz kerak va fayl yopilgandan keyin undan obj chaqirib bo'lmaydi
hdfobj.close()

In [9]:
hdfobj['uzdata'] # ko'rishingiz mumkin hato berdi/

ClosedFileError: ignored

In [10]:
# agar faylni ochmoqchi bo'lsak huddi boshidagidek yozamiz
hdfobj=pd.HDFStore("fayl_name.h5")

In [11]:
hdfobj["uzdata"] # ko'rishingiz mumkin faylni ochdi

                       Boʻlinishi  Maydoni (kv.km)    Aholisi
0                Andijon viloyati           4200.0  1899000.0
1                 Buxoro viloyati          39400.0  1384700.0
2               Fargʻona viloyati           6800.0  2597000.0
3                 Jizzax viloyati          20500.0   910500.0
4                 Xorazm viloyati           6300.0  1200000.0
5               Namangan viloyati           7900.0  1862000.0
6                 Navoiy viloyati         110800.0   767500.0
7            Qashqadaryo viloyati          28400.0  2029000.0
8   Qoraqalpogʻiston Respublikasi         160000.0  1200000.0
9              Samarqand viloyati          16400.0  2322000.0
10              Sirdaryo viloyati           5100.0   648100.0
11           Surxondaryo viloyati          20800.0  1676000.0
12              Toshkent viloyati          15300.0  4450000.0

In [12]:
hdfobj.keys()

['/avtodata', '/uzdata']

In [13]:
# hdfobj yopiq turgan holidaham faylni chaqirib olishimiz mumkin
hdfobj.close()

In [14]:
data=pd.read_hdf("fayl_name.h5", key='uzdata')
data

                       Boʻlinishi  Maydoni (kv.km)    Aholisi
0                Andijon viloyati           4200.0  1899000.0
1                 Buxoro viloyati          39400.0  1384700.0
2               Fargʻona viloyati           6800.0  2597000.0
3                 Jizzax viloyati          20500.0   910500.0
4                 Xorazm viloyati           6300.0  1200000.0
5               Namangan viloyati           7900.0  1862000.0
6                 Navoiy viloyati         110800.0   767500.0
7            Qashqadaryo viloyati          28400.0  2029000.0
8   Qoraqalpogʻiston Respublikasi         160000.0  1200000.0
9              Samarqand viloyati          16400.0  2322000.0
10              Sirdaryo viloyati           5100.0   648100.0
11           Surxondaryo viloyati          20800.0  1676000.0
12              Toshkent viloyati          15300.0  4450000.0

In [15]:
# data faylni qaytarib yana hdf formatda saqlashimiz mumkin
data.to_hdf("data.h5",key="uzdata") # korishingiz mumkin faylni saqladik endi o'qib ko'ramiz
          # yangi fayl nomini berdik

In [16]:
uzavt=pd.read_hdf("data.h5")

In [17]:
uzavt

                       Boʻlinishi  Maydoni (kv.km)    Aholisi
0                Andijon viloyati           4200.0  1899000.0
1                 Buxoro viloyati          39400.0  1384700.0
2               Fargʻona viloyati           6800.0  2597000.0
3                 Jizzax viloyati          20500.0   910500.0
4                 Xorazm viloyati           6300.0  1200000.0
5               Namangan viloyati           7900.0  1862000.0
6                 Navoiy viloyati         110800.0   767500.0
7            Qashqadaryo viloyati          28400.0  2029000.0
8   Qoraqalpogʻiston Respublikasi         160000.0  1200000.0
9              Samarqand viloyati          16400.0  2322000.0
10              Sirdaryo viloyati           5100.0   648100.0
11           Surxondaryo viloyati          20800.0  1676000.0
12              Toshkent viloyati          15300.0  4450000.0

# Takrorlash

In [18]:
import numpy as np
# keling df yaratib olamiz
dfone=pd.DataFrame(np.random.randint(60,101,size=(4,4)),index=["Samadov Diyor","Nurmuhammadov Mamurjon","Hazratov Sanjar","Yakubov Ibrohim"],columns=["Arab tili","Rus tili","Oliy matematika","AKT"])
dfone

                        Arab tili  Rus tili  Oliy matematika  AKT
Samadov Diyor                  74        65               86   98
Nurmuhammadov Mamurjon         66        63               76   78
Hazratov Sanjar                61        79               87   66
Yakubov Ibrohim                73        92               76   76

In [19]:
dftwo=pd.DataFrame(np.random.randint(60,101,size=(4,4)),index=["Mirfayziyeva Muhlisa","Shog'iyosov Xojiakbar","Habiyeva Tamila","Komilova Dilnoza"],columns=["Arab tili","Rus tili","Oliy matematika","AKT"])
dftwo

                       Arab tili  Rus tili  Oliy matematika  AKT
Mirfayziyeva Muhlisa          76        69               82   70
Shog'iyosov Xojiakbar         70        74               70   66
Habiyeva Tamila               70        60               64   80
Komilova Dilnoza              72        73               97   96

In [20]:
# keling shu jadvalni HDF5 formatida yangi faylga saqlaymiz
hdfobj_st=pd.HDFStore("Stud_score.h5")

In [21]:
hdfobj_st.put("data_st", dfone)# "data_st" bu kalit hisoblanadi

In [22]:
hdfobj_st.put("dt_st_gr",dftwo)

In [23]:
# hdfobj_st da qanday kalitlar borligini tekshiramiz
hdfobj_st.keys()

['/data_st', '/dt_st_gr']

In [24]:
# keling datalardan  birini o'qiymiz
hdfobj_st["data_st"]

                        Arab tili  Rus tili  Oliy matematika  AKT
Samadov Diyor                  74        65               86   98
Nurmuhammadov Mamurjon         66        63               76   78
Hazratov Sanjar                61        79               87   66
Yakubov Ibrohim                73        92               76   76

In [25]:
hdfobj_st["dt_st_gr"]

                       Arab tili  Rus tili  Oliy matematika  AKT
Mirfayziyeva Muhlisa          76        69               82   70
Shog'iyosov Xojiakbar         70        74               70   66
Habiyeva Tamila               70        60               64   80
Komilova Dilnoza              72        73               97   96

In [26]:
# agar hdf fayl bilan ishlab bo'lgan bo'lsak faylni yopishimiz kerak
hdfobj_st.close()

In [27]:
hdfobj_st["data_st"]# ko'rganingizdek xato berdi

ClosedFileError: ignored

# fayl yopiq turganda huddi csv bilan ishlaganimiz kabi ishlashimiz mumkin

In [30]:
df3=pd.read_hdf("Stud_score.h5",key="data_st")
df3

                        Arab tili  Rus tili  Oliy matematika  AKT
Samadov Diyor                  74        65               86   98
Nurmuhammadov Mamurjon         66        63               76   78
Hazratov Sanjar                61        79               87   66
Yakubov Ibrohim                73        92               76   76

In [31]:
df4=pd.read_hdf("Stud_score.h5",key='dt_st_gr')
df4

                       Arab tili  Rus tili  Oliy matematika  AKT
Mirfayziyeva Muhlisa          76        69               82   70
Shog'iyosov Xojiakbar         70        74               70   66
Habiyeva Tamila               70        60               64   80
Komilova Dilnoza              72        73               97   96

In [32]:
!wget https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv

--2022-10-20 20:09:17--  https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 35735 (35K) [text/plain]
Saving to: ‘BostonHousing.csv’

BostonHousing.csv   100%[===================>]  34.90K  --.-KB/s    in 0.001s

2022-10-20 20:09:17 (22.9 MB/s) - ‘BostonHousing.csv’ saved [35735/35735]

In [33]:
import pandas as pd
import numpy as np

In [34]:
boston_h=pd.read_csv("BostonHousing.csv")
boston_h # shu ochgan faylimizni hdf fortmatida yangi faylga saqlaymiz

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [35]:
hdfboston=pd.HDFStore("Boston uylari.h5")

In [36]:
# hdfboston o'zgaruvchiga yuklagan faylimiz Boston uylari nomili faylda saqlanadi
hdfboston.put("bostonhouses",boston_h)

In [37]:
# yan bitta df yoki series yaratib hdfbostonga joylasak bo'ladi
df5=pd.DataFrame(np.random.randint(60,101,size=(3,3)),columns=["Russ tili","Ingliz tili","Matematika"],index=["Hikmatov Diyor","Farxodov Sunnat",'Boboxonov Xojiakbar'])
df5

                     Russ tili  Ingliz tili  Matematika
Hikmatov Diyor              91          100          90
Farxodov Sunnat             93           99          79
Boboxonov Xojiakbar         98           69          60

In [38]:
# df5 ni hdfboston fayliga yuklaymiz
hdfboston.put("info_students",df5)  # "info_students" bu kalit hisoblanadi

In [39]:
# keling hdfboston ning ichida nechta kalit borligini ko'ramiz
hdfboston.keys()

['/bostonhouses', '/info_students']

In [40]:
# hdf faylini ichidaga jadvallarni chaqirib olish uchun huddi lug'atlar bilan ishlagandek ishlaymiz
hdfboston['bostonhouses'].head()
#boston_h.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [41]:
hdfboston["info_students"]

                     Russ tili  Ingliz tili  Matematika
Hikmatov Diyor              91          100          90
Farxodov Sunnat             93           99          79
Boboxonov Xojiakbar         98           69          60

In [42]:
# hdf fayl bilan ishlab bo'lgandan so'ng faylni yopish kerak 
hdfboston.close()

In [43]:
# endi faylga murojat qilsak xato beradi
hdfboston["info_students"]

ClosedFileError: ignored

In [45]:
# faylni ochish huddi boshidagideg bo'ladi
hdfboston=pd.HDFStore("Boston uylari.h5")

In [46]:
hdfboston["info_students"] # ko'rishingiz mumkin yana ochildi

                     Russ tili  Ingliz tili  Matematika
Hikmatov Diyor              91          100          90
Farxodov Sunnat             93           99          79
Boboxonov Xojiakbar         98           69          60

In [47]:
hdfboston.close()

In [48]:
# agar hdf faylimizni ichida nima borligini bilsak hdf faylni ochmasdan muroja't qilsak bo'ladi
data_bos=pd.read_hdf("Boston uylari.h5",key="bostonhouses")

ValueError: ignored

# fayllar bilan ishlash

In [49]:
! wget https://raw.githubusercontent.com/selva86/datasets/master/Cars93.csv

--2022-10-20 20:10:07--  https://raw.githubusercontent.com/selva86/datasets/master/Cars93.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 14411 (14K) [text/plain]
Saving to: ‘Cars93.csv’

Cars93.csv          100%[===================>]  14.07K  --.-KB/s    in 0s

2022-10-20 20:10:07 (69.3 MB/s) - ‘Cars93.csv’ saved [14411/14411]

In [50]:
read_data=pd.read_csv("Cars93.csv")
read_data.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,Front,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [51]:
# read_data ni yangi faylga yuklaymiz hdf5 formatida yuklaymiz
read_data.to_hdf("Avtolar.h5",key="Avtolar",index=False)

In [52]:
dfav=pd.read_hdf("Avtolar.h5",key="Avtolar",index_col=0)
dfav.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,Front,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [60]:
avto_csv=pd.read_csv("Auto.csv")
avto_csv.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [62]:
avto_csv.to_excel("auto_data.xlsx",columns=["name","year"],index=False)

In [64]:
avtolar=pd.read_excel("auto_data.xlsx",index_col=0,squeeze=True) # manashuyerda biz faylni series ko'rinishga o'tkazib oldik
avtolar.head()

name
chevrolet chevelle malibu    70
buick skylark 320            70
plymouth satellite           70
amc rebel sst                70
ford torino                  70
Name: year, dtype: int64